.navbar{
    background: linear-gradient(65deg, #0e3c49 0, #319db5 50%, #00b29c 100%); 
    background-image: linear-gradient(65deg, rgb(14, 60, 73) 0px, rgb(49, 157, 181) 50%, rgb(0, 178, 156) 100%);
    width:100%;
    }

    :host ::ng-deep h3 {
        position: inherit;
        left: 600px;
        text-align: center;
        color: white;
      }

      .btn-mini {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom:4px;
        font-size: 11px;
        line-height: 14px;
        vertical-align: bottom;
    }
    .btn-success {
      border-color: #319db5;
      color: rgb(255, 255, 255);
      background-color: #319db5;
      border: 1px;
  }
  
  .btn {
      border-image: none;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 0;
      vertical-align: middle;
      display: inline-block;
      white-space: nowrap;
      cursor: pointer;
      background-image: none;
      user-select: none;
  }

  .fonts{
    font-size: 14px;
    font-family: "Lato", "Open Sans", Helvetica, sans-serif !important;
}

button.btn.btn-primary {
  background: #00abff;
  border-color: #00abff;
}